<div class="dropdown">
    <button type="button" class="btn"
            ng-class="($ctrl.selectedCss|anysize) >0?'btn-primary':'btn-default'" data-bs-toggle="dropdown"  data-bs-auto-close="outside" opx-popdrop>
        {{'common.term.style'|translate}} {{$ctrl.selectedCss | anysize}} <span class="caret"></span>
    </button>
    <div class="dropdown-menu p-3 __js-inside-click" style="width:30rem;z-index:100000;">
        <div ng-repeat="(groupName, cssGroup) in $ctrl.availCssGroups">
            <h5>{{cssGroup.label}}</h5>
            <ul class="list list-inline list-unstyled">
                <li ng-repeat="def in cssGroup.list" class="mb-2 me-2">
                    <span class="udp-css-chip {{def.previewCss||def.cssClass}}" ng-class="{'selected':$ctrl.selectedCss[def.cssClass]}"
                       ng-click="$ctrl.toggleCss(def.cssClass)">{{def.desc}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>