<div class="input-group">
    <span class="input-group-text" title="{{$ctrl.kindDefs[$ctrl.meta.kind].label}}"><i
                class="far fa-fw" ng-class="$ctrl.kindDefs[$ctrl.meta.kind].icon"></i></span>
    <input class="form-control code" readonly value="{{$ctrl.meta.body}}"/>
    <button class="btn btn-outline-default" type="button" ng-disabled="$ctrl.disabled"
            ng-click="$ctrl.showBuilder()" title="{{'udp.dataex.control.open_editor'|translate}}"><i
            class="fas fa-pencil"></i></button>
    <button class="btn btn-outline-default" type="button" ng-disabled="$ctrl.disabled"
            ng-click="$ctrl.remove()" title="{{'udp.dataex.control.remove_expr'|translate}}"><i
            class="fa fa-trash-alt"></i></button>
</div>
