<div class="modal-header">
    <h4 class="modal-title">{{'common.action.edit'|translate}}</h4>
</div>
<div class="modal-body">
    <div>
        <textarea ng-model="model" class="form-control" rows="8"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'common.action.cancel'|translate}}</button>
    <button type="button" class="btn btn-success" ng-click="submit()">{{'common.action.ok'|translate}}</button>
</div>