<uib-tabset class="tab-container">
    <uib-tab>
        <uib-tab-heading><i class='fa fa-cog'></i> {{'udp.wc.tab.basic' | translate}}</uib-tab-heading>
        <div class="form-group">
            <label class="control-label">{{'udp.uinput.attrs.binding' | translate}}</label>
            <div class="form-control-wrapper">
                <input type="text" class="form-control" ng-model="uwProps.core.exportParam">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{{'udp.w.flow.name' | translate}}</label>
            <div class="form-control-wrapper">
                <udp-data-converter the-model="uwProps.core.flowId" class="op-w-full"
                                    options="{kinds:'js,str',varTypes:'pageparam,global'}"></udp-data-converter>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{{'udp.w.flow.host.scope' | translate}}</label>
            <div class="form-control-wrapper">
                <select class="form-select" ng-model="uwProps.core.hostScope">
                    <option value="global">{{'udp.w.flow.host.scope.global' | translate}}</option>
                    <option value="step">{{'udp.w.flow.host.scope.step' | translate}}</option>
                    <option value="all">{{'udp.w.flow.host.scope.all' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-if = "uwProps.core.hostScope === 'step'">
            <label class="control-label">{{'udp.w.flow.step.select.scripts' | translate}}</label>
            <div class="form-control-wrapper">
                <select class="form-select" ng-model="uwProps.core.scriptsOption">
                    <option value="single">{{'udp.w.flow.step.select.scripts.single' | translate}}</option>
                    <option value="multiple">{{'udp.w.flow.step.select.scripts.multiple' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-if = "uwProps.core.hostScope === 'step'">
            <label class="control-label">{{'udp.w.flow.step.host.group' | translate}}</label>
            <div class="form-control-wrapper">
                <select class="form-select" ng-model="uwProps.core.hostGroup">
                    <option value="true">{{'udp.w.flow.step.host.group.true' | translate}}</option>
                    <option value="false">{{'udp.w.flow.step.host.group.false' | translate}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">{{'udp.w.flow.applet' | translate}} </label>
            <div class="form-control-wrapper">
                <select class="form-select" ng-model="uwProps.core.appletCode"  op-select
                        ng-options="applet.code as applet.title for applet in applets">
                </select>
            </div>
        </div>
    </uib-tab>
    <uib-tab>
        <uib-tab-heading><i class='fa fa-paint-brush'></i> {{'udp.w.flow.style' | translate}}</uib-tab-heading>
        <udp-widget-config-display options="{palette:false}">
            <div class="form-group">
                <label class="control-label">{{'common.term.tag' | translate}}</label>
                <div class="form-control-wrapper">
                    <input type="text" class="form-control op-w-sm" ng-model="uwProps.display.label">
                </div>
            </div>
        </udp-widget-config-display>
    </uib-tab>
    <uib-tab heading="{{'udp.wc.tab.props' | translate}}">
        <udp-widget-props-viewer the-model="uwProps"></udp-widget-props-viewer>
    </uib-tab>
</uib-tabset>