/angulr2.2.1
tmp/*
/dist/
/dist/*
/packages/
dist/
*.tar
*.gz
dist/*
src/webapp/node_modules
/node_modules
/backups
/.idea
/oplus.iml
/src/webapp/bower_components
/build
/tmp
yarn-error.log
yarn.lock
/src/webapp/content/css/oplus-commons.css
/src/webapp/content/css/oplus-dts.css
/src/webapp/content/css/oplus-jat.css
/src/webapp/content/css/oplus-tm.css
/src/webapp/content/css/oplus-udp-printable.css
/src/webapp/lib/ionic
/src/webapp/api-mock/data/~$mock-database.xlsx
/src/webapp/api-mock/data/mock-database.csv
/oplus-modules.iml
*rebel*.xml
/.vscode
/backup
/src/webapp/content/images/wallpaper/test
/src/webapp/content/images/wallpaper/test/
/package-lock.json
/.i18n
.DS_Store
