<uib-tabset class="tab-container">
    <uib-tab>
        <uib-tab-heading><i class='fa fa-database'></i> {{'udp.wc.tab.basic' | translate}}</uib-tab-heading>
        <!--        <summernote ng-model="uwProps.text" config="editorOptions"></summernote>-->
        <div class="h-100 opx-layout-vflex">
            <textarea ui-tinymce="tinymceOptions" ng-model="uwProps.text" class="opx-flex-fill"></textarea>
            <details>
                <summary>{{'udp.w.wysiwyg.config.param' | translate}}</summary>
                <div class="alert alert-info mt-3" ng-bind-html="'udp.w.wysiwyg.config.param_desc'|translate">
                </div>
            </details>
        </div>
    </uib-tab>
    <uib-tab>
        <uib-tab-heading><i class='fa fa-paint-brush'></i> {{'udp.wc.tab.style' | translate}}</uib-tab-heading>
        <udp-widget-config-display options="{palette:false}"></udp-widget-config-display>
    </uib-tab>
    <uib-tab heading="{{'udp.wc.tab.props'|translate}}">
        <udp-widget-props-viewer the-model="uwProps"></udp-widget-props-viewer>
    </uib-tab>
</uib-tabset>
