<div class="opx-layout-vflex">
    <nav class="navbar navbar-light">
        <div class="opx-navbar-title">{{'cac3.navigation.patrol_item_template' | translate}}</div>
    </nav>
    <div class="card-body">
        <opx-datatable table-config="vm.tableConfig">
            <button class="btn btn-primary"
                    ui-sref="app.cac3.templates.add"><i class="fa fa-plus"></i> {{'cac3.button.new_template' | translate}}
            </button>
        </opx-datatable>
    </div>
</div>

