<style>
    #strengthBar {
        padding-left: 0px;
    }
</style>
<div class="modal-header">
    <h4 class="modal-title">修改密码</h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" ng-click="passwordVm.cancel()"><span
            aria-hidden="true"></span></button>
</div>
<div class="modal-body">
    <div class="alert alert-success" ng-show="passwordVm.success" data-translate="jhi_password.messages.success">
        <strong>Password changed!</strong>
    </div>
    <div class="alert alert-danger" ng-show="passwordVm.error" data-translate="jhi_password.messages.error">
        <strong>An error has occurred!</strong> The password could not be changed.
    </div>

    <div class="alert alert-danger" ng-show="passwordVm.doNotMatch" data-translate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
    </div>
    <form name="form" novalidate show-validation>
        <div class="form-group">
            <label class="control-label" for="password" data-translate="global.form.newpassword">New password</label>
            <i class="fa fa-info-circle text-warning ms-2" style="position: absolute;left: 50px;cursor: pointer;" title="{{'global.messages.validate.newpassword.qualified' | translate}}"></i>
            <div class="form-control-wrapper">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                       ng-model="passwordVm.password" ng-minlength=8 ng-maxlength=32 required>
                <div ng-show="form.password.$dirty && form.password.$invalid">
                    <p class="help-block"
                       ng-show="form.password.$error.required"
                       data-translate="global.messages.validate.newpassword.required">
                        Your password is required.
                    </p>
                    <p class="help-block"
                       ng-show="form.password.$error.minlength"
                       data-translate="global.messages.validate.newpassword.minlength">
                        Your password is required to be at least 8 characters.
                    </p>
                    <p class="help-block"
                       ng-show="form.password.$error.maxlength"
                       data-translate="global.messages.validate.newpassword.maxlength">
                        Your password cannot be longer than 32 characters.
                    </p>
                </div>
                <div>
                    <ng-password-meter password="passwordVm.password"></ng-password-meter>
                </div>
                <!--<password-strength-bar password-to-check="passwordVm.password"></password-strength-bar>-->
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="confirmPassword" data-translate="global.form.confirmpassword">New password
                confirmation</label>
            <div class="form-control-wrapper">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                       placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                       ng-model="passwordVm.confirmPassword" ng-minlength=8 ng-maxlength=32 required>
                <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                    <p class="help-block"
                       ng-show="form.confirmPassword.$error.required"
                       data-translate="global.messages.validate.confirmpassword.required">
                        Your confirmation password is required.
                    </p>
                    <p class="help-block"
                       ng-show="form.confirmPassword.$error.minlength"
                       data-translate="global.messages.validate.confirmpassword.minlength">
                        Your confirmation password is required to be at least 8 characters.
                    </p>
                    <p class="help-block"
                       ng-show="form.confirmPassword.$error.maxlength"
                       data-translate="global.messages.validate.confirmpassword.maxlength">
                        Your confirmation password cannot be longer than 32 characters.
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <p class="text-right">
        <button type="reset" class="btn btn-default opx-btn-cancel" ng-click="passwordVm.cancel()">
            {{'common.action.cancel' | translate}}
        </button>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary opx-btn-ok" data-translate="jhi_password.form.button"
                ng-click="passwordVm.changePassword()">Save
        </button>
    </p>
</div>
