
<div class="modal-header" ng-class="{'bg-dark':$ctrl.applet.theme==='dark'}">
    <h4 class="modal-title"><i class="fad {{$ctrl.applet.icon}}"></i> {{$ctrl.applet.title}}</h4>
</div>
<div class="modal-body" ng-if="$ctrl.applet.launchError">
    <div class="p-3 text-center">{{$ctrl.applet.launchError}}</div>
</div>
<div class="modal-body" ng-if="!$ctrl.applet.launchError && $ctrl.applet.entry.type!=='InternalState'">
    <applet-content the-applet="$ctrl.applet"></applet-content>
</div>
<div class="modal-body" ng-if="!$ctrl.applet.launchError && $ctrl.applet.entry.type==='InternalState'"
    ui-view="{{'modal_main_view_'+$ctrl.applet.code}}">
</div>