<div class="d-flex flex-column">
    <div class="mb-2">
        <button type="button" class="btn btn-outline-default" ng-click="$ctrl.openSelectorDialog()"><i class="fal fa-server"
                ng-disabled="$ctrl.readonly"></i> {{$ctrl.theOptions.thisLabel || ''}}
        </button>
    </div>

    <div ng-if="$ctrl.getData()">
        <ul class="list list-unstyled list-inline mb-0" style="max-height:10rem; overflow-y:auto;">
            <li class="op-hover-trigger">
                <div class="badge bg-secondary op-text-normal op-cursor-default py-2 px-2">
                    {{ $ctrl.getData().name }}
                </div>
            </li>
        </ul>
    </div>

    <div class="help-block w-100 mt-4" ng-if="$ctrl.theData">
        <div class=""> {{ "jao.job.script.aap_template.notice" | translate }}: </summary>
        <ul class="pl-3">
            <li class="list-unstyled">{{ "jao.job.script.aap_template.notice.0" | translate }}</li>
            <li class="list-unstyled">{{ "jao.job.script.aap_template.notice.1" | translate }}</li>
        </ul>
    </div>

    <div class="form-group w-25 mt-4" style="min-width: 300px;" ng-if="false">
        <label class="control-label w-100">{{ 'jao.job.run.ansible-playbook' | translate}}</label>
        <div class="form-control-wrapper">
            <textarea class="form-control" ng-model="$ctrl.theData.argline"></textarea>

            <details class="help-block">
                <summary>{{'jao.job.script.param' | translate}}</summary>
                {{'jao.job.script.param_info.0' | translate}}
                <div>
                    {{'jao.job.script.param_info.1' | translate}}
                    <ul>
                        <li>{{'jao.job.script.param_info.2' | translate}}</li>
                        <li>{{'jao.job.script.param_info.3' | translate}}</li>
                    </ul>
                </div>
            </details>
        </div>
    </div>
</div>
