<fieldset ng-disabled="!$ctrl.isEditMode" ng-init="$ctrl.display = 0">
    <legend ng-click="$ctrl.display = $ctrl.display + 1">{{'jao.job.script.title' | translate}}</legend>
    <!--使用参数配置默认的执行工具-->
    <!--<div class="form-group">-->
        <!--<label class="control-label">执行工具</label>-->
        <!--<div class="form-control-wrapper d-inline-block">-->
            <!--<div class="opx-check-group opx-secondary btn-group">-->
                <!--<input type="radio" name="job_engine" value="ansible"-->
                       <!--ng-model="$ctrl.jobConfig.engine"-->
                       <!--id="job_engine_ansible">-->
                <!--<label for="job_engine_ansible">&lt;!&ndash;<img src="app/modules/jao/assets/udp/logo-ansible-black.svg" style="height:32px;">&ndash;&gt; Ansible</label>-->
                <!--&lt;!&ndash;                <label for="job_engine_ansible"><img src="app/modules/jao/assets/udp/logo-ansible.svg" style="height:48px;"> ansible</label>&ndash;&gt;-->
                <!--<input type="radio" name="job_engine" value="tower"-->
                       <!--ng-model="$ctrl.jobConfig.engine"-->
                       <!--id="job_engine_tower">-->
                <!--<label for="job_engine_tower">&lt;!&ndash;<img src="app/modules/jao/assets/udp/logo-ansible-red.svg" style="height:32px;"> &ndash;&gt;Tower</label>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label">{{'jao.job.script.type' | translate}}</label>
        <div class="form-control-wrapper d-inline-block">
            <div class="opx-check-group opx-secondary btn-group">
                <input type="radio" name="job_scriptType" value="playbook"
                       ng-model="$ctrl.jobConfig.scriptType"
                       id="job_scriptType_playbook">
                <label for="job_scriptType_playbook">{{'jao.job.script.type.playbook' | translate}}</label>
                <input type="radio" name="job_scriptType" value="adhoc"
                       ng-model="$ctrl.jobConfig.scriptType"
                       id="job_scriptType_adhoc">
                <label for="job_scriptType_adhoc">{{'jao.job.script.type.adhoc' | translate}}</label>

                <input type="radio" name="job_scriptType" value="template"
                       ng-model="$ctrl.jobConfig.scriptType"
                       ng-if="$ctrl.scriptEngine == 'aap'"
                       id="job_scriptType_template">
                <label for="job_scriptType_template"
                        ng-if="$ctrl.scriptEngine == 'aap'">{{'jao.job.script.type.aap_template' | translate}}</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <!--多步骤功能暂未实现-->
        <!--<div class="d-flex mb-3">-->
            <!--<label class="control-label">步骤</label>-->
            <!--<button class="btn btn-sm btn-default ms-3" ng-if="$ctrl.isEditMode"-->
                    <!--ng-click="$ctrl.addTask()"><i class="text-primary fa fa-plus-circle"></i> 添加步骤-->
            <!--</button>-->
        <!--</div>-->
        <div>
            <div class="card card-default op-action-card op-w-full" ng-repeat="task in $ctrl.jobConfig.tasks">
                <div class="card-header" ng-if="$ctrl.jobConfig.tasks.length>1">
                    <h4 class="card-title"><span
                            class="badge bg-secondary rounded-circle">{{$ctrl.jobConfig.tasks.length > 1 ? $index + 1 : ''}}</span>
                    </h4>
                    <button class="btn btn-sm btn-default pull-right" ng-if="$ctrl.isEditMode"
                            ng-click="$ctrl.removeTask($index)">{{'jao.job.script.delete_step' | translate}}
                    </button>
                </div>
                <div class="card-body" ng-if="$ctrl.jobConfig.scriptType !== 'template'">
                    <div class="form-group op-align-horizontal">
                        <label class="control-label font-weight-bold text-left" style="width:4rem;">{{'jao.common.script' | translate}}</label>
                        <div class="form-control-wrapper">
                            <gfs-file-selector the-model="task.scripts" class="w-full"
                                               model-converter="{type: 'attrmap', attrmap: {'location': 'path', 'argline': 'config', tag: 'tag'}, modelType: 'array'}"
                                               config="$ctrl.fileSelectorConfig"></gfs-file-selector>
                            <details class="help-block">
                                <summary>{{'jao.job.script.param' | translate}}</summary>
                                {{'jao.job.script.param_info.0' | translate}}
                                <div ng-if="$ctrl.jobConfig.scriptType==='playbook'">
                                    {{'jao.job.script.param_info.1' | translate}}
                                    <ul>
                                        <li>{{'jao.job.script.param_info.2' | translate}}</li>
                                        <li>{{'jao.job.script.param_info.3' | translate}}</li>
                                    </ul>
                                </div>
                            </details>
                        </div>
                    </div>
                    <div class="form-group op-align-horizontal">
                        <label class="control-label font-weight-bold text-left" style="width:4rem;">{{'jao.common.host' | translate}}<span
                                op-help-info="{{'jao.job.script.host_info' | translate}}"></span></label>
                        <div class="form-control-wrapper">
                            <div class="w-full">
                                <div class="opx-check-group opx-secondary btn-group">
                                    <input type="radio" name="hostsMode_{{$index}}"
                                           ng-model="task.hostsMode"
                                           id="hosts_by_param_{{$index}}"
                                           value="param"><label for="hosts_by_param_{{$index}}"><i
                                        class="fa fa-brackets-curly"></i> {{'jao.job.script.by_param' | translate}}</label>
                                    <input type="radio" name="hostsMode_{{$index}}"
                                           ng-model="task.hostsMode"
                                           id="hosts_defined_{{$index}}"
                                           value=""><label for="hosts_defined_{{$index}}"><i class="fa fa-list-ul"></i>
                                    {{'jao.job.script.defined_param' | translate}}</label>
                                </div>
                                <div class="mt-3" ng-if="task.hostsMode != 'param'">
<!--                                    <jao-host-selector the-model="task.hosts"></jao-host-selector>-->
                                    <acm-device-selector the-model="task.hosts" mcheck-type="mcheckType" ci-types="'[auto]'"></acm-device-selector>
                                </div>
                                <div class="mt-3 d-flex" ng-if="task.hostsMode == 'param'">
                                    <!--                                    <select class="form-select w-auto" ng-model="task.hostsType" title="主机类型">-->
                                    <!--                                        <option value="">按主机</option>-->
                                    <!--                                        <option value="group">按分组</option>-->
                                    <!--                                    </select>-->
                                    <label class="control-label w-auto ms-3">{{'jao.job.script.param_name' | translate}}</label>
                                    <input type="text" class="form-control op-w-sm"
                                           ng-model="task.hostsParam">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card-body" ng-if="$ctrl.jobConfig.scriptType === 'template'">
                    <div class="form-group op-align-horizontal mb-0">
                        <label class="control-label font-weight-bold text-left" style="width:4rem;">
                            {{'cac.common.template' | translate}}
                            <!-- <span op-help-info="{{'jao.job.script.host_info' | translate}}"></span> -->
                        </label>
                        <div class="form-control-wrapper">
                            <aap-template-selector class="w-100" the-model="task.template"></aap-template-selector>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" op-help-info="{{'jao.job.process.callback_info' | translate}}">{{'jao.job.process.callback' | translate}}</label>
        <div class="form-control-wrapper">
            <input class="form-control" ng-model="$ctrl.jobConfig.callback">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" op-help-info="{{'jao.job.process.timeout_info' | translate}}">{{'jao.job.process.timeout' | translate}}</label>
        <div class="form-control-wrapper">
            <div class="input-group w-sm">
                <input type="number" ng-model="$ctrl.jobConfig.taskTimeout" class="form-control" min="-1"
                       step="1">
                <div class="input-group-append"><span class="input-group-text">{{'common.term.second' | translate}}</span></div>
            </div>
        </div>
<!--        <label class="control-label" ng-if="$ctrl.display > 10">{{'jao.job.script.verbose' | translate}}</label>-->
<!--        <div class="form-control-wrapper d-inline-block" ng-if="$ctrl.display > 10">-->
<!--            <div class="input-group" ng-click="$ctrl.jobConfig.verbosity = $ctrl.isVerbosity ? 1 : 0">-->
<!--                <input type="checkbox" ng-model="$ctrl.isVerbosity" >-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="form-group" ng-if="$ctrl.scriptEngine == 'aap'">
        <label class="control-label"
               op-help-info="aap执行容器镜像">aap执行环境</label>
        <div class="form-control-wrapper">
            <select aria-label="选择输入" class="form-select op-w-auto"
                    ng-model="$ctrl.jobConfig.executionEnvironment"
                    ng-options="ee.id as ee.name for ee in $ctrl.executionEnvironments">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label"
               op-help-info="{{'jao.job.script.verbose_info' | translate}}">{{'jao.job.script.verbose' | translate}}</label>
        <div class="form-control-wrapper">
            <select ng-model="$ctrl.jobConfig.verbosity" id="template-verbosity" aria-label="选择输入"
                    class="form-select op-w-auto">
                <option class="" value=0>{{'jao.job.run.ansible.verbose.normal' | translate}}</option>
                <option class="" value=1>{{'jao.job.run.ansible.verbose.detailed' | translate}}</option>
                <option class="" value=2>{{'jao.job.run.ansible.verbose.more_details' | translate}}</option>
                <option class="" value=3>{{'jao.job.run.ansible.verbose.debug' | translate}}</option>
                <option class="" value=4>{{'jao.job.run.ansible.verbose.connection_debugging' | translate}}</option>
            </select>
        </div>
    </div>
</fieldset>
