<style>
    .zdy div {
        float: left;
    }

    .icheckbox_square-blue,
    .iradio_square-blue {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        width: 22px;
        height: 22px;
        background: url(content/images/cron/blue.png) no-repeat;
        border: none;
        cursor: pointer;
    }

    .icheckbox_square-blue {
        background-position: 0 0;
    }

    .icheckbox_square-blue.hover {
        background-position: -24px 0;
    }

    .icheckbox_square-blue.checked {
        background-position: -48px 0;
    }

    .icheckbox_square-blue.disabled {
        background-position: -72px 0;
        cursor: default;
    }

    .icheckbox_square-blue.checked.disabled {
        background-position: -96px 0;
    }

    .iradio_square-blue {
        background-position: -120px 0;
    }

    .iradio_square-blue.hover {
        background-position: -144px 0;
    }

    .iradio_square-blue.checked {
        background-position: -168px 0;
    }

    .iradio_square-blue.disabled {
        background-position: -192px 0;
        cursor: default;
    }

    .iradio_square-blue.checked.disabled {
        background-position: -216px 0;
    }

    /* HiDPI support */
    @media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
        .icheckbox_square-blue,
        .iradio_square-blue {
            background-image: url(content/images/cron/blue@2x.png);
            -webkit-background-size: 240px 24px;
            background-size: 240px 24px;
        }
    }
    
    /* 修复Cron生成器模态框宽度 - 保持原来大小 */
    .modal-dialog.modal-lg {
        max-width: 1200px !important;
        width: 98% !important;
    }
    
    .modal-dialog.modal-xl {
        max-width: 1200px !important;
        width: 98% !important;
    }
    
    /* 确保内容不会过度拉伸 */
    .container-fluid {
        max-width: 100%;
        padding: 0 15px;
    }
    
    /* 优化卡片样式 */
    .card {
        max-width: 100%;
        margin: 0 auto;
    }
    
    /* 确保在小屏幕上也能正常显示 */
    @media (max-width: 768px) {
        .modal-dialog.modal-lg,
        .modal-dialog.modal-xl {
            width: 98% !important;
            margin: 5px auto;
        }
    }
    
    @media (max-width: 480px) {
        .modal-dialog.modal-lg,
        .modal-dialog.modal-xl {
            width: 99% !important;
            margin: 2px auto;
        }
    }
</style>
<div class="container-fluid">
    <div style="width: 100%; max-width: 1150px; margin: 0 auto; height: 400px;">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">{{ 'task_scheduling.cron_control.generator' | translate}}</h3>
            </div>
            <div class="card-body">
                <uib-tabset type="mdc-op mb-4">
                    <uib-tab heading="{{ 'task_scheduling.cron_control.second' | translate}}"
                             onclick="test('t_second');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.branch' | translate}}" onclick="test('t_min');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.hour' | translate}}" onclick="test('t_hour');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.day' | translate}}" onclick="test('t_day');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.month' | translate}}" onclick="test('t_month');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.week' | translate}}" onclick="test('t_week');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.year' | translate}}" onclick="test('t_year');">
                    </uib-tab>
                </uib-tabset>
                <div id="cronTabContent">
                    <!--秒start-->
                    <div id="t_second">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_second" name="second" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.secondly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="second" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="second"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large"></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.second' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="second"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.second' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="second" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="second"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.second' | translate}} {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.each' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="second"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.second' | translate}} {{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="second" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="secondList zdy" id="l_second">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--秒end-->
                    <!--分start-->
                    <div id="t_min">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_minute" name="min" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.branchly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="min" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="min"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.branch' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="min"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.branch' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="min" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="min"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.branch' | translate}} {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.each' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="min"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.branch' | translate}} {{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="min" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="minList zdy" id="l_min">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--分end-->
                    <!--时start-->
                    <div id="t_hour">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_hour" name="hour" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.each' | translate}} {{
                                'task_scheduling.cron_control.hour' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="hour" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="hour" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="hour"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.hour' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" data-rule="hour" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="hour"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.hour' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="hour" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="hour" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="hour"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.hour' | translate}} {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.each' | translate}}
                                        <input type="text" data-rule="hour" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="hour"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.hour' | translate}} {{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="hour" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="hourList zdy" id="l_hour">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--时end-->
                    <!--日start-->
                    <div id="t_day">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_day" name="day" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.dayly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="day" class="noconfirmradio"/>&nbsp; &nbsp; {{
                                'task_scheduling.cron_control.month_list.one' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="day" class="lastdayradio"/>&nbsp; &nbsp; {{
                                'task_scheduling.cron_control.month_list.two' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="day" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="day" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="day"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.day' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" data-rule="day" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="day"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.day' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="day" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="day" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="day"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.day' | translate}} {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.each' | translate}}
                                        <input type="text" data-rule="day" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="day"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.day' | translate}} {{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div data-trigger="spinner" class="nearspin">
                                        <input type="radio" name="day" class="nearradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.monthly' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.month_list.three' | translate}}
                                        <input type="text" data-rule="day" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="day"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.day' | translate}}
                                        {{'task_scheduling.cron_control.last_working_day' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="day" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="dayList zdy" id="l_day">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--日end-->
                    <!--月start-->
                    <div id="t_month">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_month" name="month" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.monthly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="month" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="month" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="month"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.month' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" data-rule="month" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="month"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.month' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="month" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="month" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="month"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.month' | translate}} {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.each' | translate}}
                                        <input type="text" data-rule="month" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="month"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.month' | translate}} {{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="month" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="monthList zdy" id="l_month">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--月end-->
                    <!--周start-->
                    <div id="t_week">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_week" name="week" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.weekly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="week" class="noconfirmradio"/>&nbsp; &nbsp; {{
                                'task_scheduling.cron_control.week_list.one' | translate}} </p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="week" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from_week' | translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{'task_scheduling.cron_control.to_the_week' | translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="week" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}} &nbsp;{{
                                        'task_scheduling.cron_control.from_week' | translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.every_other' | translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.sky' | translate}}{{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="designspin">
                                        <input type="radio" name="week" class="designradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.specify' | translate}}&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'task_scheduling.cron_control.clause' |
                                        translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.circumferential' |
                                        translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="designspin">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'task_scheduling.cron_control.week' |
                                        translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div data-trigger="spinner" class="lastspin">
                                        <input type="radio" name="week" class="lastradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.week_list.two' | translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="week" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="weekList zdy" id="l_week">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--周end-->
                    <!--年start-->
                    <div id="t_year">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_year" name="year" class="unselectradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.not_specified' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="year" class="firstradio"/>&nbsp; &nbsp; {{
                                'task_scheduling.cron_control.yearly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="year" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="year" value="2015"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="year" value="2016"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--年end-->
                </div>
                <div class="card card-primary" style="height: 210px;">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'task_scheduling.cron_control.expression_result' | translate}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>{{ 'task_scheduling.cron_control.second' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.branch' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.hour' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.day' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.month' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.week' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.year' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span name="v_second">*</span></td>
                                    <td><span name="v_min">*</span></td>
                                    <td><span name="v_hour">*</span></td>
                                    <td><span name="v_day">*</span></td>
                                    <td><span name="v_month">*</span></td>
                                    <td><span name="v_week">?</span></td>
                                    <td><span name="v_year"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="well well-sm">
                            <div class="row">
                                <div class="">
                                    <b>{{ 'task_scheduling.datatable.schedule_conf' | translate}}：</b>
                                </div>
                                <div>
                                    <span>
                                    <input type="text" name="cron" style="width: 40%;height: 30px;"
                                           ng-model="$ctrl.cron" id="cron"/>
                                    <input type="hidden" id="transCron" name="transCron" value=""/>
                                    </span>
                                    <span style="position: absolute; margin-left: 2px;">
                                        <button class="btn btn-primary" ng-click="$ctrl.scheduleConf()"> <i
                                                class="fa fa-check"></i> {{ 'task_scheduling.cron_control.save_cron' | translate}} </button>
                                       <button type="reset" class="btn btn-primary" ng-click="$ctrl.nextRunTime()"> <i
                                               class="fa fa-history"></i> {{'task_scheduling.datatable.nextExecutionTime' | translate}} </button>
                                        <button type="reset" class="btn btn-default" ng-click="$ctrl.cancel()"> <i
                                                class="fa fa-reply"></i> {{'common.entity.action.back' | translate}} </button>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Cron 表达式生成器初始化
    // 初始化函数已移至外部 init.js 文件
    // 这里只保留必要的初始化调用
    $(function () {
        // 延迟初始化，确保外部函数已加载
        setTimeout(function () {
            if (typeof window.cronInit === 'function') {
                window.cronInit();
            }
        }, 100);
    });
</script>

