<style>
    .zdy div {
        float: left;
    }

    .icheckbox_square-blue,
    .iradio_square-blue {
        display: inline-block;
        *display: inline;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        width: 22px;
        height: 22px;
        background: url(content/images/cron/blue.png) no-repeat;
        border: none;
        cursor: pointer;
    }

    .icheckbox_square-blue {
        background-position: 0 0;
    }

    .icheckbox_square-blue.hover {
        background-position: -24px 0;
    }

    .icheckbox_square-blue.checked {
        background-position: -48px 0;
    }

    .icheckbox_square-blue.disabled {
        background-position: -72px 0;
        cursor: default;
    }

    .icheckbox_square-blue.checked.disabled {
        background-position: -96px 0;
    }

    .iradio_square-blue {
        background-position: -120px 0;
    }

    .iradio_square-blue.hover {
        background-position: -144px 0;
    }

    .iradio_square-blue.checked {
        background-position: -168px 0;
    }

    .iradio_square-blue.disabled {
        background-position: -192px 0;
        cursor: default;
    }

    .iradio_square-blue.checked.disabled {
        background-position: -216px 0;
    }

    /* HiDPI support */
    @media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
        .icheckbox_square-blue,
        .iradio_square-blue {
            background-image: url(content/images/cron/blue@2x.png);
            -webkit-background-size: 240px 24px;
            background-size: 240px 24px;
        }
    }
</style>
<div class="container-fluid">
    <div style="margin-left: -18px;width: 850px;height: 400px;margin-left: -100px;margin-right: 98px;">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">{{ 'task_scheduling.cron_control.generator' | translate}}</h3>
            </div>
            <div class="card-body">
                <uib-tabset type="mdc-op mb-4">
                    <uib-tab heading="{{ 'task_scheduling.cron_control.second' | translate}}"
                             onclick="test('t_second');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.branch' | translate}}" onclick="test('t_min');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.hour' | translate}}" onclick="test('t_hour');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.day' | translate}}" onclick="test('t_day');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.month' | translate}}" onclick="test('t_month');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.week' | translate}}" onclick="test('t_week');">
                    </uib-tab>
                    <uib-tab heading="{{ 'task_scheduling.cron_control.year' | translate}}" onclick="test('t_year');">
                    </uib-tab>
                </uib-tabset>
                <div id="cronTabContent">
                    <!--秒start-->
                    <div id="t_second">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_second" name="second" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.secondly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="second" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="second"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large"></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.second' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="second"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.second' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="second" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="second"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.second' | translate}} {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.each' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="second"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.second' | translate}} {{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="second" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="secondList zdy" id="l_second">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--秒end-->
                    <!--分start-->
                    <div id="t_min">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_minute" name="min" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.branchly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="min" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="min"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.branch' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="min"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.branch' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="min" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="min"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.branch' | translate}} {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.each' | translate}}
                                        <input type="text" data-max="59" value="0" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="min"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.branch' | translate}} {{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="min" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="minList zdy" id="l_min">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--分end-->
                    <!--时start-->
                    <div id="t_hour">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_hour" name="hour" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.each' | translate}} {{
                                'task_scheduling.cron_control.hour' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="hour" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="hour" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="hour"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.hour' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" data-rule="hour" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="hour"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.hour' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="hour" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="hour" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="hour"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.hour' | translate}} {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.each' | translate}}
                                        <input type="text" data-rule="hour" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="hour"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.hour' | translate}} {{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="hour" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="hourList zdy" id="l_hour">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--时end-->
                    <!--日start-->
                    <div id="t_day">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_day" name="day" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.dayly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="day" class="noconfirmradio"/>&nbsp; &nbsp; {{
                                'task_scheduling.cron_control.month_list.one' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="day" class="lastdayradio"/>&nbsp; &nbsp; {{
                                'task_scheduling.cron_control.month_list.two' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="day" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="day" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="day"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.day' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" data-rule="day" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="day"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.day' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="day" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="day" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="day"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.day' | translate}} {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.each' | translate}}
                                        <input type="text" data-rule="day" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="day"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.day' | translate}} {{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div data-trigger="spinner" class="nearspin">
                                        <input type="radio" name="day" class="nearradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.monthly' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.month_list.three' | translate}}
                                        <input type="text" data-rule="day" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="day"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.day' | translate}}
                                        {{'task_scheduling.cron_control.last_working_day' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="day" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="dayList zdy" id="l_day">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--日end-->
                    <!--月start-->
                    <div id="t_month">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_month" name="month" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.monthly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="month" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="month" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="month"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.month' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" data-rule="month" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="month"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.month' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="month" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" data-rule="month" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="month"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.month' | translate}} {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.each' | translate}}
                                        <input type="text" data-rule="month" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="month"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.month' | translate}} {{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="month" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="monthList zdy" id="l_month">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--月end-->
                    <!--周start-->
                    <div id="t_week">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_week" name="week" class="firstradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.weekly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="week" class="noconfirmradio"/>&nbsp; &nbsp; {{
                                'task_scheduling.cron_control.week_list.one' | translate}} </p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="week" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from_week' | translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{'task_scheduling.cron_control.to_the_week' | translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        <input type="radio" name="week" class="loopradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.loop' | translate}} &nbsp;{{
                                        'task_scheduling.cron_control.from_week' | translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.start' | translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="loopspin">
                                        {{ 'task_scheduling.cron_control.every_other' | translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                        {{ 'task_scheduling.cron_control.sky' | translate}}{{
                                        'task_scheduling.datatable.execute_once' | translate}}
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="designspin">
                                        <input type="radio" name="week" class="designradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.specify' | translate}}&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'task_scheduling.cron_control.clause' |
                                        translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a> {{
                                        'task_scheduling.cron_control.circumferential' |
                                        translate}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <div data-trigger="spinner" class="designspin">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'task_scheduling.cron_control.week' |
                                        translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div data-trigger="spinner" class="lastspin">
                                        <input type="radio" name="week" class="lastradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.week_list.two' | translate}}
                                        <input type="text" data-rule="percent" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="week"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="week" class="choiceradio"/>&nbsp; &nbsp;{{
                                'task_scheduling.cron_control.custom' | translate}} </p>
                            <div class="row">
                                <div class="weekList zdy" id="l_week">
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--周end-->
                    <!--年start-->
                    <div id="t_year">
                        <div class="radiocheck">
                            <p><input type="radio" checked="checked" id="r_year" name="year" class="unselectradio"/>&nbsp;
                                &nbsp; {{ 'task_scheduling.cron_control.not_specified' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p><input type="radio" name="year" class="firstradio"/>&nbsp; &nbsp; {{
                                'task_scheduling.cron_control.yearly' | translate}}</p>
                        </div>
                        <div class="radiocheck">
                            <p></p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        <input type="radio" name="year" class="cycleradio"/> &nbsp; &nbsp;{{
                                        'task_scheduling.cron_control.cycle' | translate}}&nbsp; {{
                                        'task_scheduling.cron_control.from' | translate}}
                                        <input type="text" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="year" value="2015"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class=" icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i
                                                class="  icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div data-trigger="spinner" class="cyclespin">
                                        {{ 'task_scheduling.cron_control.reach' | translate}}
                                        <input type="text" style="width:50px;display: initial;"
                                               class="form-control numberspinner" name="year" value="2016"/>
                                        <a href="javascript:;" data-spin="down"><i
                                                class="  icon-minus-sign icon-large "></i></a>
                                        <a href="javascript:;" data-spin="up"><i class="icon-plus-sign icon-large"></i></a>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!--年end-->
                </div>
                <div class="card card-primary" style="height: 210px;">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'task_scheduling.cron_control.expression_result' | translate}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>{{ 'task_scheduling.cron_control.second' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.branch' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.hour' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.day' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.month' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.week' | translate}}</th>
                                    <th>{{ 'task_scheduling.cron_control.year' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span name="v_second">*</span></td>
                                    <td><span name="v_min">*</span></td>
                                    <td><span name="v_hour">*</span></td>
                                    <td><span name="v_day">*</span></td>
                                    <td><span name="v_month">*</span></td>
                                    <td><span name="v_week">?</span></td>
                                    <td><span name="v_year"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="well well-sm">
                            <div class="row">
                                <div class="">
                                    <b>{{ 'task_scheduling.datatable.schedule_conf' | translate}}：</b>
                                </div>
                                <div>
                                    <span>
                                    <input type="text" name="cron" style="width: 40%;height: 30px;"
                                           ng-model="$ctrl.cron" id="cron"/>
                                    <input type="hidden" id="transCron" name="transCron" value=""/>
                                    </span>
                                    <span style="position: absolute; margin-left: 2px;">
                                        <button class="btn btn-primary" ng-click="$ctrl.scheduleConf()"> <i
                                                class="fa fa-check"></i> {{ 'task_scheduling.cron_control.save_cron' | translate}} </button>
                                       <button type="reset" class="btn btn-primary" ng-click="$ctrl.nextRunTime()"> <i
                                               class="fa fa-history"></i> {{'task_scheduling.datatable.nextExecutionTime' | translate}} </button>
                                        <button type="reset" class="btn btn-default" ng-click="$ctrl.cancel()"> <i
                                                class="fa fa-reply"></i> {{'common.entity.action.back' | translate}} </button>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /**
     * Created by LinJ on 2015/11/5.
     * 初始化页面模块js
     */

//初始化各类元素以及监听
    $(function () {
        inition();
        //初始化控件视图
        setTimeout(function () {
            reverseExp();
        }, 100);
    });

    //页面所有的页签名称
    var itemList = ["second", "min", "hour", "day", "month", "week"];

    //初始化各个页签自主选择的最大值
    var max_second = 59;
    var max_min = 59;
    var max_hour = 23;
    var max_day = 31;
    var max_month = 12;
    var max_week = 7;

    function inition() {
        //初始化checkbox
        initCheckBox("l_second", 0, 59);
        initCheckBox("l_min", 0, 59);
        initCheckBox("l_hour", 0, 23);
        initCheckBox("l_day", 1, 31);
        initCheckBox("l_month", 1, 12);
        initCheckBox("l_week", 1, 7);


        //初始化单选、复选框
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        //解析按钮绑定函数
        $('#explain').click(function () {
            reverseExp();
        });

        initFirstRadio();
        initNoConfirmRadio();
        initRadio();
        initRadioCheckDiv();
        initSpinner();
        initCronFromTable();
        initListChange();

        //如果已有传输过来的值，那么放入cron字段并且反解析
        var instr = $("#transCron").val();
        if (instr) {
            $("#cron").val(instr);
            reverseExp();
        }

    }

    //初始化大量的复选框 根据div的id以及数量进行初始化 每个复选框占1/12宽度
    function initCheckBox(divid, start, cnt) {
        if (cnt != null && cnt > 0) {
            for (dc = start; dc <= cnt; dc++) {
                $("#" + divid).append(" <div class='col-sm-1' style='margin-top: 2px;'> <label><input type='checkbox' value=" + dc + "> &nbsp;" + dc + "</label></div>");
            }
        }
        test('t_second');

    }

    //初始化每个页签第一排的radio，即*条件
    function initFirstRadio() {
        $('.firstradio').on('ifChecked', function () {
            everyTime(this);
        });
        $('.unselectradio').on('ifChecked', function () {
            clearSpan(this);
        });

        //季度的第一排radio，需要指定为month
        $('.firstradioreactor').on('ifChecked', function () {
            everyTimeByName("v_month");
        });
    }

    //初始化不指定的radio 即？条件 以及最后一日条件
    function initNoConfirmRadio() {
        $('.noconfirmradio').on('ifChecked', function () {
            unAppoint(this);
        });
        $('.lastdayradio').on('ifChecked', function () {
            lastDay(this);
        });

    }

    //初始化每个页签选择的的radio
    function initRadio() {
        //周期选择的radio
        $('.cycleradio').on('ifChecked', function () {
            writeStartAndEnd(this, "-");
        });
        //循环选择的radio
        $('.loopradio').on('ifChecked', function () {
            writeStartAndEnd(this, "/");
        });

        //指定选择的radio 即#
        $('.designradio').on('ifChecked', function () {
            writeStartAndEnd(this, "#");
        });


        //自主选择的radio
        $('.choiceradio').on('ifChecked', function () {

            var spanname = this.name;
            var theList = $("." + spanname + "List").find(':checkbox');
            var maxvalue = eval("max_" + this.name);
            changeSpanFromCheckList(theList, maxvalue, spanname);
        });

        //最近工作日的radio
        $('.nearradio').on('ifChecked', function () {
            writeEnd(this, "W");
        });

        //最后一个周几的radio
        $('.lastradio').on('ifChecked', function () {
            writeEnd(this, "L");
        });


    }

    //初始化div内容监听绑定函数，即点击div，对应radio被选中
    function initRadioCheckDiv() {
        $('.radiocheck').click(function () {
            radioCheckByClick(this);
        });

        $.each(itemList, function (n, value) {
            var checkList = $("." + value + "List");
            checkList.click(function () {
                var theRadio = this.closest('.radiocheck').find(':radio');
                theRadio.eq(0).iCheck('check');
            });
        });
    }


    //绑定数字微调器
    function initSpinner() {
        //绑定数字微调器
        $(".cyclespin").spinner('changing', function (e, newVal, oldVal) {
            //trigger immediately
            writeStartAndEnd(this, "-");
        });
        $(".loopspin").spinner('changing', function (e, newVal, oldVal) {
            //trigger immediately
            writeStartAndEnd(this, "/");
        });
        $(".designspin").spinner('changing', function (e, newVal, oldVal) {
            //trigger immediately
            writeStartAndEnd(this, "#");
        });
        $(".nearspin").spinner('changing', function (e, newVal, oldVal) {
            //trigger immediately
            writeEnd(this, "W");
        });
        $(".lastspin").spinner('changing', function (e, newVal, oldVal) {
            //trigger immediately
            writeEnd(this, "L");
        });
    }

    //表达式结果由表格生成到cron表达式
    function initCronFromTable() {
        //查找所有name以v_开头的span元素
        var vals = $("span[name^='v_']");
        var cron = $("#cron");
        vals.change(function () {
            var item = [];
            vals.each(function () {
                item.push(this.innerHTML);
            });
            cron.val(item.join(" "));
        });
    }

    //定义checkbox在被点击的时候的绑定函数  循环遍历页签数组
    function initListChange() {
        $.each(itemList, function (n, value) {
            var checkList = $("." + value + "List").find(':checkbox');
            var maxvalue = eval("max_" + value);
            initChangeOnCheckboxList(checkList, maxvalue, value);
        });
    }

    //给list的checkbox绑定点击方法 入参是list，最大值，指定输出的span名称
    function initChangeOnCheckboxList(checkList, maxvalue, spanname) {
        checkList.on('ifChanged', function () {
            //模拟div被点击过一次
            this.closest('.radiocheck').click();
            changeSpanFromCheckList(checkList, maxvalue, spanname);
        });
    }


    function test(type) {
        var arr = ["t_second", "t_min", "t_hour", "t_day", "t_month", "t_week", "t_year"];
        for (var i = 0; i < 8; i++) {
            if (arr[i] != type) {
                $("#" + arr[i]).hide();
            } else {
                $("#" + arr[i]).show();
            }
        }
    }
</script>

